<?xml version="1.0"?>
<launch>
  
  <!-- resume th logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find simulation_module)/worlds/my_world.world" />

    <!-- arguments I can use -->
    <!-- <arg name="paused" default="true" /> -->
    <!-- <arg name="use_sim_time" default="false" /> -->
    <arg name="gui" default="true" />
    <!-- <arg name="headless" default="false" /> -->
    <!-- <arg name="debug" default="true" /> -->
  </include>

  <!-- load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="xacro $(find simulation_module)/urdf/my_bot.xacro" />

  <!-- push robot description to factory and spawn robot in gazebo -->
  <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
    args="-urdf -param robot_description -model my_bot -x 0 -y 0 -z 0.3" />
  
  <!-- control_module my_bot launch file -->
  <include file="$(find control_module)/launch/my_bot_control.launch"/>

</launch>
