<?xml version="1.0"?>
<robot name="my_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="package_name" value="robot_module"/>
    <xacro:property name="robot_name" value="my_bot"/>

    <xacro:include filename="$(find ${package_name})/urdf/include/robot_macros.xacro"/>

    <!-- set config -->
    <xacro:property name="chassis_yaml" value="$(find ${package_name})/config/chassis.yaml"/>
    <xacro:property name="chassis_props" value="${xacro.load_yaml(chassis_yaml)}"/>

    <xacro:property name="wheel_yaml" value="$(find ${package_name})/config/wheel.yaml"/>
    <xacro:property name="wheel_props" value="${xacro.load_yaml(wheel_yaml)}"/>

    <xacro:property name="caster_wheel_yaml" value="$(find ${package_name})/config/caster_wheel.yaml"/>
    <xacro:property name="caster_wheel_props" value="${xacro.load_yaml(caster_wheel_yaml)}"/>

    <!-- Chassis -->
    <xacro:chassis chassis_prop="${chassis_props}" 
                   wheel_prop="${wheel_props}"/>

    <!-- Wheels -->
    <xacro:wheel prefix="left" reflect="1"
                 wheel_prop="${wheel_props}"
                 chassis_prop="${chassis_props}"/>

    <xacro:wheel prefix="right" reflect="-1"
                 wheel_prop="${wheel_props}"
                 chassis_prop="${chassis_props}"/>

    <!-- Caster wheel -->
    <xacro:caster_wheel caster_prop="${caster_wheel_props}"
                        chassis_prop="${chassis_props}"
                        wheel_prop="${wheel_props}"/>

    <!-- Camera -->
    <!-- <xacro:include filename="$(find ${package_name})/urdf/include/sensor_macros.xacro"/> -->
    <!-- <xacro:camera parent_prop="${chassis_props}" 
                  parent_link="chassis" /> -->

    <!-- load argument for gazebo -->
    <!-- <xacro:include filename="$(find robot_module)/urdf/my_bot.gazebo"/> -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/my_bot</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
            <!-- <legacyModeNS>True</legacyModeNS> -->
        </plugin>
    </gazebo>
    
</robot>
