<launch>
  <!-- 載入機器人描述 -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find vision_nav_bot)/urdf/my_robot.urdf.xacro'" />

  <!-- 啟動 Gazebo 空世界 -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <!-- 將機器人加入 Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model my_robot -x 0 -y 0 -z 0.1" />
</launch>
