<launch>
    <!-- load xacro & convert to robot_description -->
    <param name="robot_description" 
           command="xacro $(find robot_module)/urdf/my_bot.xacro"/>

    <!-- send fake joint values -->
    <node name="joint_state_publisher"
        pkg="joint_state_publisher"
        type="joint_state_publisher">
        <!-- <param name="use_gui" value="true"/> -->
    </node>

    <!-- combine joint values to publish TF -->
    <node name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher"/>

    <!-- run rviz -->
    <node name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find robot_module)/rviz/my_bot.rviz"/>

</launch>